body{
  font-family: 'Montserrat';
}
.big-headings{
  font-size: 3.5rem;
  line-height: 1.5;
  font-family: 'Montserrat-Black', sans-serif;
}
h2, h3{
  font-family: 'Montserrat-Bold';
}
h2{
  font-size: 3rem;
  line-height: 1.5;
}
h3{
  font-size:1.5rem;
}

#title{
  background-color:#ff4c68;
  color: white;
}
i {
  display: inline-block;
}

.pricing-col{
  padding: 2%;
}

p{
  color: #8f8f8f;
}
.feature-box{
  position: relative;
  padding: 10% 6% 6% 6%;
}
.icon{
  color: #EF8172;
  position: absolute;
  right: 170px;
  bottom: 180px;
}
.icon:hover{
  color: #ff4c68;
}
#features{
  background-color: #fff;
  padding: 9% 9% 9% 9%;
  text-align: center;
  position: relative;
}
.container-fluid{
  padding: 3% 15%;
}
.title-image{
  width: 20%;
  transform: rotate(25deg);
  position: absolute;
  right: 25%;
}
.navbar{
  padding: 0 0 2.5rem 0;
}
.navbar-nav{
  margin-left: 418px;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size: 1.2rem;
  font-weight: bold;
}
/* Downolad Buttons */
.download-button{
  margin: 5% 3% 5% 0;
}
                                                              /* Testimonials */
#testimonials{
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}
.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
.carousel-item{
  padding: 7%  15%;
}
.press-logo{
  width: 15%;
  margin: 20px 15px 20px 20px;
}
#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

#pricing{
  padding: 10%;
  text-align: center;
}

@media (max-width: 1028px){
  #title{
    text-align: center;
  }
  .icon{
    text-align: center;
  }
  .title-image{
    position: static;
    transform: rotate(0deg);
  }
  .icon{
    visibility: hidden;
  }
}
#cta{
  background-color: #ff4c68;
  text-align: center;
  padding: 5%
}

#cta h3{
  font-size: 3rem;
  font-family: "Montserrat-Black";
}
#footer{
  background-color: #fff;
  padding: 3%;
  text-align: center;
}
#footer p{
  font-weight: bold;
}
#footer i {
  padding: 20px 10px 20px 10px;
}
